.App {
  background-color: black;
  text-align: center;
  height: 100%;
}

.App-logo {
  height: 8vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
  .App-logo-footer {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: black;
  color: white;
  height: 90vh;
}
.App-footer {
  background-color: black;
  color: white;
  height: 25vh;
}

.App-body {
  background-color: white;
  color: black;
  height: 100vh; /* should be auto when content is available*/
}

.App-link {
  color: whitesmoke;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Header-title {
  /* margin-top: 1vh; */
  /* height: 100%; */
}

.App-logo-footer {
  height: 7vmin;
}

@font-face {
  font-family: "PopArt";
  src: local("PopArt"), url(./fonts/PopArt-Regular.ttf), format("truetype");
}

.popart {
  font-family: "PopArt";
  color: whitesmoke;
  font-style: italic;
}
