@font-face {
  font-family: "Protest";
  src: local("Protest"), url(./fonts/ProtestStrike-Regular.ttf),
    format("truetype");
}

.App {
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, grey 0.5%, black 5%, black 100%);
  background-size: 40px 40px;
  animation: move 4s linear infinite;
  text-align: center;
  font-family: "Protest";
}

.App-logo {
  width: 15vmin;
  pointer-events: none;
  position: relative;
  padding: 0;
}

.toast-message {
  background: black;
  color: #fff;
  font-size: 20px;
  width: 34vw;
  padding: 30px 20px;
}

.App-header {
  color: white;
  width: 100%;
  height: 100%;
  padding: 0.5rem;
  --s: 150px;
  --c1: #4e4f51;
  --c2: #1d1d1d;
  --c3: #3c3c3c;

  background: repeating-conic-gradient(
        from 30deg,
        #0000 0 120deg,
        var(--c3) 0 180deg
      )
      calc(0.5 * var(--s)) calc(0.5 * var(--s) * 0.577),
    repeating-conic-gradient(
      from 30deg,
      var(--c1) 0 60deg,
      var(--c2) 0 120deg,
      var(--c3) 0 180deg
    );
  background-size: var(--s) calc(var(--s) * 0.577);
}

.App-body {
  color: white;
  /* width: 100%;
  height: 100%;
  background: #121212;
  background: linear-gradient(135deg, grey 0.5%, black 5%, black 100%);
  background-size: 40px 40px;
  animation: move 3s linear infinite; */
}
.App-footer {
  color: white;
  padding-top: 3rem;
  width: 100%;
  height: 100%;
  --s: 65px;
  --c1: #4e4f51;
  --c2: #1d1d1d;
  --c3: #3c3c3c;

  --_c: 75%, var(--c3) 52.72deg, #0000 0;
  --_g1: conic-gradient(from -116.36deg at 25% var(--_c));
  --_g2: conic-gradient(from 63.43deg at 75% var(--_c));
  background: var(--_g1), var(--_g1) calc(3 * var(--s)) calc(var(--s) / 2),
    var(--_g2), var(--_g2) calc(3 * var(--s)) calc(var(--s) / 2),
    conic-gradient(
      var(--c2) 63.43deg,
      var(--c1) 0 116.36deg,
      var(--c2) 0 180deg,
      var(--c1) 0 243.43deg,
      var(--c2) 0 296.15deg,
      var(--c1) 0
    );
  background-size: calc(2 * var(--s)) var(--s);
}

.App-link {
  color: whitesmoke;
}

.App-logo-footer {
  height: 7vmin;
  background-color: black;
}

.Menu-drawer {
  font-family: "Protest";
  background-color: black !important;
  color: white !important;
}
.pp {
  padding-top: 9rem;
}

.Menu-drawer-logo {
  min-width: 12vmin;
}

svg text {
  font-family: "Protest";
  animation: stroke 3.5s forwards alternate;
  stroke-width: 90px;
  stroke: green;
  font-size: 9.5rem;
  letter-spacing: 0.4rem;
}

svg defs {
  font-family: "Protest";
  text-transform: uppercase;
  animation: stroke 5s forwards alternate;
  stroke-width: 90px;
  stroke: white;
  font-size: 9.5rem;
}

@keyframes stroke {
  0% {
    fill: rgba(72, 138, 20, 0);
    stroke: white;
    stroke-dashoffset: 55%;
    stroke-dasharray: 5% 35%;
    stroke-width: 2;
  }

  90% {
    fill: rgba(72, 138, 20, 0);
    stroke: white;
  }

  95% {
    fill: rgba(72, 138, 20, 0);
    stroke: white;
    stroke-width: 1;
  }

  100% {
    fill: rgba(72, 138, 20, 0);
    stroke: white;
    stroke-dashoffset: -25%;
    stroke-dasharray: 50% 0;
    stroke-width: 7;
  }
}

#firstDiv {
  animation: showup 15s forwards;
  font-size: 4vw;
}

#secondDiv {
  animation: reveal 16s forwards;
}

#spanInDiv {
  animation: slidein 17s forwards;
  font-size: 4vw;
}

#spanInDivSec {
  animation: showup 20s forwards;
  font-size: 4vw;
}

@keyframes showup {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 0;
  }

  35% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

@keyframes reveal {
  0% {
    opacity: 0;
    width: 0px;
  }

  20% {
    opacity: 1;
    width: auto;
  }

  30% {
    width: auto;
  }

  80% {
    opacity: 1;
    width: auto;
  }

  100% {
    opacity: 1;
    width: auto;
  }
}

@keyframes slidein {
  0% {
    margin-left: -3900px;
  }

  20% {
    margin-left: -3900px;
  }

  25% {
    margin-left: 0px;
  }

  100% {
    margin-left: 0px;
  }
}

@keyframes move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 40px 40px;
  }
}

#checkbox {
  display: none;
  justify-content: start;
}

.toggle {
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  transition-duration: 0.3s;
}

.bars {
  width: 100%;
  height: 4px;
  background-color: rgb(253, 255, 243);
  border-radius: 5px;
  transition-duration: 0.3s;
}

#checkbox:checked + .toggle #bar2 {
  transform: translateY(14px) rotate(60deg);
  margin-left: 0;
  transform-origin: right;
  transition-duration: 0.3s;
  z-index: 2;
}

#checkbox:checked + .toggle #bar1 {
  transform: translateY(28px) rotate(-60deg);
  transition-duration: 0.3s;
  transform-origin: left;
  z-index: 1;
}

#checkbox:checked + .toggle {
  transform: rotate(-90deg);
}

@media screen and (prefers-color-scheme: light) {
  .App-body {
    width: 100%;
    height: 100%;
    background: linear-gradient(
      135deg,
      grey 0.5%,
      whitesmoke 5%,
      whitesmoke 100%
    );
    background-size: 40px 40px;
    animation: move 3s linear infinite;
    color: black;
  }
  .sub-header {
    color: black;
  }
  .Menu-drawer-body {
    color: black;
  }
  .App {
    width: 100%;
    height: 100%;
    background: linear-gradient(
      135deg,
      grey 0.5%,
      whitesmoke 5%,
      whitesmoke 100%
    );
    background-size: 40px 40px;
    animation: move 3s linear infinite;
    color: black;
  }
  svg text {
    stroke: black;
  }
  svg defs {
    stroke: black;
  }

  #fullName,
  #email,
  #reason,
  #submitt {
    border-color: black;
  }

  @keyframes stroke {
    0% {
      fill: rgba(72, 138, 20, 0);
      stroke: black;
      stroke-dashoffset: 55%;
      stroke-dasharray: 5% 35%;
      stroke-width: 7;
    }

    50% {
      fill: rgba(72, 138, 20, 0);
      stroke: black;
      stroke-width: 1;
    }

    75% {
      fill: rgba(72, 138, 20, 0);
      stroke: black;
      stroke-width: 5;
    }

    100% {
      fill: rgba(72, 138, 20, 0);
      stroke: black;
      stroke-dashoffset: -25%;
      stroke-dasharray: 50% 0;
      stroke-width: 7;
    }
  }
  .Menu-drawer-body {
    background-color: white;
  }
}

@media (max-width: 900px) {
  .pp {
    padding: 17rem 0;
  }
}
