@font-face {
  font-family: "Protest";
  src: local("Protest"), url(./fonts/ProtestStrike-Regular.ttf),
    format("truetype");
}

.App {
  background-color: black;
  text-align: center;
  height: 100%;
}

.App-logo {
  height: 8vmin;
  pointer-events: none;
}

.hamburger-logo {
  height: 8vmin;
  pointer-events: none;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
  .App-logo-footer {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: black;
  color: white;
  height: 85vh;
}
.App-footer {
  background-color: black;
  color: white;
  height: 22vh;
}

.App-body {
  background-color: black;
  color: white;
  padding: 0 1rem 0 1rem;
}

.App-link {
  color: whitesmoke;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Header-title {
  /* margin-top: 1vh; */
  /* height: 100%; */
}

.App-logo-footer {
  height: 7vmin;
}

/* svg {
  font-family: "Protest", sans-serif;
  width: 100%;
  height: 100%;
} */
svg text {
  font-family: "Protest", sans-serif;
  text-transform: uppercase;
  animation: stroke 5s forwards alternate;
  stroke-width: 90px;
  stroke: white;
  font-size: 9.5rem;
}
@keyframes stroke {
  0% {
    fill: rgba(72, 138, 20, 0);
    stroke: white;
    stroke-dashoffset: 25%;
    stroke-dasharray: 0 50%;
    stroke-width: 2;
  }
  70% {
    fill: rgba(72, 138, 20, 0);
    stroke: white;
  }
  80% {
    fill: rgba(72, 138, 20, 0);
    stroke: white;
    stroke-width: 3;
  }
  100% {
    fill: white;
    stroke: rgba(54, 95, 160, 0);
    stroke-dashoffset: -25%;
    stroke-dasharray: 50% 0;
    stroke-width: 0;
  }
}

#firstDiv {
  animation: showup 19s forwards;
  font-size: 3.5vw;
}

#secondDiv {
  /* width: 0px; */
  animation: reveal 25s forwards;
}

#spanInDiv {
  animation: slidein 25s forwards;
  font-size: 3.5vw;
}

@keyframes showup {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  35% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes reveal {
  0% {
    opacity: 0;
    width: 0px;
  }
  20% {
    opacity: 1;
    width: 0px;
  }
  30% {
    width: auto;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    width: auto;
  }
}

@keyframes slidein {
  0% {
    margin-left: -2900px;
  }
  20% {
    margin-left: -2900px;
  }
  25% {
    margin-left: 0px;
  }
  100% {
    margin-left: 0px;
  }
}
